{% extends 'women/base.html' %}
{% load static %}
{% block content %}
<p>{{ posts|length }}</p>
<ul class="list-articles">
    {% if posts %}
        {% for p in posts %}
            <li>
            <li>
                <div class="article-panel">
                    <p class="first">Категория: {{ p.cat }}</p>
                    <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
                </div>
            </li>
            {% if p.photo %}
            <p><img class="img-article-left thumb" src="{{ p.photo.url }}" alt=""></p>
            {% endif %}
            <h2>{{p.title|title}}</h2>
            {% autoescape on %}
            {{p.content|linebreaks|truncatewords:50}}
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
            </li>
        {% endfor %}
    {% else %}
        <li>Нет постов</li>
    {% endif %}

</ul>
{% endblock %}